<div class="message me">
    <div class="text-main">
        <div class="text-group me">
            <div class="text me">
                <p>But if you are not available to talk, then would't they miss you more?</p>
            </div>
        </div>
        <span>11:32 AM</span>
    </div>
</div>