 
 <div class="top">
    <div class="container">
        <div class="col-md-12">
            <div class="inside">
                <div class="status online"></div>
                <div class="data">
                    <h5><a href="#">{{name}}</a></h5>
                    <span>Active now</span>
                </div>               
                <button class="btn d-md-block d-none" title="close">
                    <i class="ti-close"></i>                
                </button>
            </div>
        </div>
    </div>
    </div>