<form>
    <div class="form-group">
        <label for="message">CHAT</label>
        <input type="text" class="form-control" id="message" placeholder="Type your Message">
    </div>
</form>
<button id="sedn-message" type="button" class="btn btn-success send">Success</button>