
<div class="container">
    <div class="row">
        <div class="col">
            <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">CHAT</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Type your Message">
  </div> </form>
  <button type="button" class="btn btn-success send">Success</button>
        </div>
    </div>
</div>
