<div class="sidebar" id="sidebar">
    <div class="container">
        <div class="col-md-12">
            <div class="tab-content">
                <figure class="setting"><img class="avatar-xl" alt="avatar" src={{avatar}}>
                </figure>                
                <div class="search">
                    <form class="form-inline position-relative">
                        <input type="search" class="form-control" id="conversations"
                            placeholder="Search for conversations...">
                        <button type="button" class="btn btn-link loop"><i class="ti-search"></i></button>
                    </form>
                    <button class="btn create" data-toggle="modal" data-target="#startnewchat"><i
                            class="ti-pencil"></i></button>
                </div>
                <div class="discussions" id="scroller">
                    <h1>Chats</h1>
                    <div class="list-group ps-container ps-theme-default ps-active-y users-display" id="chats" role="tablist"
                        data-ps-id="b83dc65f-7c5f-9292-abd3-a5252210705d">
                 
                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                            <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps-scrollbar-y-rail" style="top: 0px; height: 390px; right: 0px;">
                            <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 192px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>