<div class="content empty ps-container ps-theme-default" data-ps-id="9b67f74a-6503-57af-9500-bd2a8382bfd5">
    <div class="container">
        <div class="col-md-12">
            <div class="no-messages">
                <i class="ti-comments"></i>
                <p>Seems people are shy to start the chat. Break the ice send the first message.</p>
            </div>
        </div>
    </div>
    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
        <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;">
        </div>
    </div>
    <div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;">
        <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;">
        </div>
    </div>
</div>