

<a href="#" class="filterMembers all offline contact" data-toggle="list">
    <img class="avatar-md" src="dist/img/avatars/avatar-male-4.jpg" data-toggle="tooltip" data-placement="top" title=""
        alt="avatar" data-original-title="Jhon Doe">
    <div class="status offline"></div>
    <div class="data">
        <h5>Jhon Doe</h5>
        <p>London, United Kingdom</p>
    </div>
    <div class="person-add">
        <i class="ti-user"></i>
    </div>
</a>
<a href="#list-empty" class="filterDiscussions all unread single" id="list-empty-list" data-toggle="list" role="tab"
    aria-selected="false" style="">
    <img class="avatar-md" src="dist/img/avatars/avatar-male-1.jpg" data-toggle="tooltip" data-placement="top" title=""
        alt="avatar" data-original-title="Michael">
    <div class="status offline"></div>

    <div class="data">
        <h5>Bob Frank</h5>
        <div class="new bg-red">
            <span>9+</span>
        </div>
        <span>Sun</span>
        <p>How can i improve my chances?</p>
    </div>
</a>